<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Quiz App</title>
  <link rel="stylesheet" href="/stylesheets/homepage.css">

</head>

<body>
  <%-include("./header.ejs")%>
  <div class="welcome-wrapper">
    <h1>Welcome to the <br><span>Quiz App</span></h1>
    <p class="tagline">Let’s get you started!</p>

    <a href="/auth/signup" class="btn big">Sign Up</a>
    <p class="caption">Don’t have an account? Create one. →</p>

    <a href="/auth/signin" class="btn big">Sign In</a>
    <p class="caption">Already a member? Log in here. →</p>
  </div>
</body>
</html>