<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Quiz App</title>
  <link rel="stylesheet" href="/stylesheets/homepage.css">

</head>

<body>
  <%-include("./header.ejs")%>
  <section>
    <div class="homepage">
      <div class="homeContainer">
        <div class="title">
          <h1>Welcome to the Quiz!</h1>
        </div>
        <div class="buttons">
          <h2>
          <a href="/auth/signin">Sign In</a> or 
          <a href="/auth/signup">Sign Up</a> to take the quiz
          </h2>
        </div>
      </div>
    </div>
  </section>

</body>
</html>