<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quiz App</title>
        <link rel="stylesheet" href="/stylesheets/homepage.css">

    </head>
    <body>
        <%-include("./header.ejs")%>
        <div class="auth-wrapper">
          <div class="glass-form">
            <h2>Sign In</h2>
      
            <!--  Error Message goes here -->
            <p id="error-msg" style="color: red; font-weight: bold; text-align: center; margin-bottom: 10px;">
              <%=msg%>
            </p>
      
            <form action="/auth/signin/submit" method="POST">
              <label>Email</label>
              <input id="email" type="email" name="email" required />
      
              <label>Password</label>
              <input id="password" type="password" name="password" required />
              <button type="submit">🔐 Sign In</button>

            </form>
            
            <p class="subtext">Don't have an account? <a href="/auth/signup">Sign Up</a></p>
          </div>
        </div>
        </div>
    </body>
</html>