* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;
    color:white;
}

.homepage{
    padding:20%;
    position:center;
}

.homeContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h1{
    border-bottom: none;
    color:white;
}

.parent-container{
    padding:20%;
    position:center;
    text-align:center;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



