<body>
    <link rel="stylesheet" href="/stylesheets/darkmode.css">
    <div class="navbar">
        <div>
            <button class="but" id="dark-mode-toggle">🌙 Dark Mode</button>
        </div>
        <div>
            <a href="/quiz"><button class="but" id="quiz"><h2>Quiz</h2></button></a>
            <a href="/profile"><button class="but" id="profile"><h2>Profile</h2></button></a>
            <a href="/leaderboard"><button class="but" id="leaderboard"><h2>Leaderboard</h2></button></a>
            <a href="/auth/logout"><button class="but" id="logout"><h2>Logout</h2></button></a>
        </div>
    </div>
    <script src="/javascript/darkmode.js"></script>
</body>